<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <title>Bibliographies {% block pageTitle %}{% endblock %}</title>
            <style>
                @import '/css/flash.css';
            </style>
            {% block stylesheets %}{% endblock %}
        </head>
        <body>
             {% set user = app.session.get('user') %}

             {% if user is null %}
             <p>
            you are not logged in: <a href="{{ path('login') }}">login</a>
            </p>
    {% else %}
        <header>
            You are logged in as: <strong>{{ user.username }}</strong>
            <br>
            <a href="{{ path('logout') }}">logout</a>
        </header>
    {% endif %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">Bibliographie Manager</a>
                    </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}">Home</a></li>

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"href="{{ path('bibliographies_list')}}">Bibliographies <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('bibliographies_list')}}">List</a></li>
                        <li><a href="{{path('bibliographies_new_form')}}">Create</a></li>
                    </ul>
                    </li>
          
                    
                    <li><a href="{{ path('bibliographies_basket_index')}}">Basket</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('user_new')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                </div>
            </nav>
        <hr>
            {% block body %}
            {% endblock %}

            {% block javascripts %}{% endblock %}
        </body>
    </html>