{% extends '_base.html.twig' %}

    {% block pageTitle %}list of students{% endblock %}

    {% block body %}

      

        <ul>
            {% for bibliographie in bibliographies %}
                <li>
                    id: {{ bibliographie.id }}
                    <br>
                    name: {{ bibliographie.name }}
                    <br>
                    Publish date: {{bibliographie.publishDate}}
                    <br>
                    Information: {{bibliographie.info}}

                    <a href="{{ path('bibliographies_basket_add', {'id': bibliographie.id})}}">
            Add to basket
        </a>
                </li>
            {% endfor %}
        </ul>

        <hr>
        <a href="{{ path('bibliographies_new_form')}}">
            create NEW bibliographie
        </a>
          {{ dump() }}
    {% endblock %}
